@import "tailwindcss";

@theme {
  --color-card-bg: #fed4d9;
  --color-main-red: #ff5c8d;
  --color-blue-dark: #432dd7;
  --color-pink-light: #fcf0f7;

  --tracking-tightest_2: -0.3em;
  --tracking-tightest: -0.2em;
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.25em;

  --font-globle: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
  @apply font-globle;
}

/* BackGround color */
.bg-color {
  @apply to-pink-light bg-linear-to-r from-pink-300 via-white;
}
.heading-section {
  @apply py-4 text-center;
}
.h1 {
  @apply text-main-red text-4xl font-semibold uppercase sm:text-6xl md:text-7xl;
}
.h2 {
  @apply text-3xl text-pink-600 sm:text-4xl md:text-5xl;
}
.h3 {
  @apply text-3xl text-pink-500;
}

.para {
  @apply text-justify text-base font-light text-gray-600 sm:text-lg;
}

/* button */
.btn-div {
  @apply mt-4 text-center;
}
.btn {
  @apply relative z-10 my-5 w-full overflow-hidden rounded-md px-5 py-3 text-center text-base font-medium shadow-lg transition-all duration-500 sm:w-full md:w-auto lg:w-auto;
}
.btn-red {
  @apply bg-main-red text-white hover:text-black;
}
.btn-red::before {
  @apply absolute inset-0 z-[-1] scale-x-0 rounded-md bg-white transition-transform duration-500;
  content: "";
}
.btn-white {
  @apply bg-white text-black hover:text-white;
}

.btn-white::before {
  @apply bg-main-red absolute inset-0 z-[-1] scale-x-0 rounded-md transition-transform duration-500;
  content: "";
}

.btn-blue {
  @apply bg-blue-dark text-white hover:text-white;
}

.btn-blue::before {
  @apply absolute inset-0 z-[-1] scale-x-0 rounded-md bg-blue-500 transition-transform duration-500;
  content: "";
}
.btn:hover::before {
  @apply scale-x-100;
}

/* Nav Bar */
.logo {
  @apply tracking-tightest from-main-red bg-linear-to-r to-pink-300 bg-clip-text pr-5 text-8xl text-transparent hover:text-pink-500;
}
.nav-bar {
  @apply flex h-16 items-center justify-between;
}
.nav-space {
  @apply mx-auto max-w-7xl px-4 py-5 sm:px-6 lg:px-8;
}
.nav-menu {
  @apply ml-4 flex items-center justify-end space-x-10;
}
.nav-item {
  @apply hover:text-main-red cursor-pointer text-lg text-black;
}
.media-nav-items {
  @apply border-main-red/15 flex items-center gap-2 border bg-pink-100 px-5 py-4 text-xl font-medium text-black;
}
.toggle-btn {
  @apply inline-flex items-center justify-center rounded-md p-2 text-black;
}

/* footer */

.footer {
  @apply bg-main-red relative py-10 text-center;
}
.footer-container {
  @apply flex flex-col items-center justify-between gap-4 p-5 md:flex-row;
}
.footer-menu {
  @apply flex flex-col gap-4 md:flex-row;
}
.footer-menu a {
  @apply text-lg text-white underline transition-all duration-300 hover:text-black;
}

.socials {
  @apply flex gap-4 px-5;
}

.socials a {
  @apply cursor-pointer text-3xl text-white hover:text-pink-200;
}
.p-carousel-prev,
.p-carousel-next {
  background-color: white;
  border-radius: 50%;
  border: 1px solid #e42c5c;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.p-carousel-prev:hover,
.p-carousel-next:hover {
  background-color: #e42c5c;
}

/* HeroSection (home) */
.hero-content {
  @apply mx-auto grid max-w-(--breakpoint-xl) px-4 pb-8 lg:grid-cols-12 lg:gap-8 lg:py-16 xl:gap-0;
}
.introduction-div {
  @apply mr-auto place-self-center lg:col-span-7;
}
.introduction-div h1 {
  @apply max-w-3xl text-4xl leading-none font-bold tracking-tight md:text-5xl xl:text-6xl;
}

.h5 {
  @apply from-main-red to-blue-dark inline-block bg-gradient-to-r bg-clip-text text-center text-4xl font-semibold text-transparent sm:text-8xl md:text-7xl;
}

.typed {
  @apply text-blue-dark min-h-[1.5em] text-4xl uppercase sm:text-5xl;
}
.poster-div {
  @apply relative hidden lg:col-span-5 lg:mt-0 lg:flex;
}
.poster-div .dots {
  @apply right-0 bottom-[-1rem] animate-bounce;
}
.poster-div .cube {
  @apply top-[-0.8rem] right-4 animate-bounce;
}
.poster-div .circle {
  @apply bottom-0 left-0 animate-ping;
}
.poster-div .zigzags {
  @apply top-6 left-[-0.5rem] animate-pulse;
}
.poster-div .plus {
  @apply top-[-0.8rem] left-[50%] animate-spin;
}

.poster {
  @apply w-full mix-blend-multiply transition-all;
}

hr {
  @apply border-main-red my-2 flex w-1/4 justify-self-center border-2;
}

/* Call on Action */
.action-bg {
  @apply p-4 sm:p-16;
}
.action-card {
  @apply relative flex flex-wrap items-center justify-center gap-5 overflow-hidden bg-pink-100 p-6 shadow-xl sm:flex-row sm:gap-12 sm:p-10;
}
.action-content {
  @apply relative z-10 space-y-6 text-center sm:text-left;
}
.action-form {
  @apply relative z-10 flex flex-col items-center justify-center gap-4 sm:flex-row;
}
.input {
  @apply border-main-red w-full rounded-lg border bg-white p-3 text-gray-800 placeholder-gray-500 sm:w-64;
}
.message {
  @apply mt-3 text-2xl text-green-600;
}
.quote {
  @apply text-blue-dark text-2xl italic;
}

/* ClientFeedback.tsx*/
.feedback-bg {
  @apply h-full p-5;
}
.feedback-card {
  @apply border-main-red flex h-full flex-col items-center justify-between rounded-3xl border-1 bg-pink-100 px-3 py-5 text-center;
}
.feedback-img {
  @apply size-18 rounded-full shadow-xl;
}
.client-name {
  @apply text-main-red py-4 text-2xl uppercase;
}
.no-feedback {
  @apply text-center text-gray-500;
}

/* Project.tsx */

.project-grid {
  @apply grid gap-10 p-5 sm:grid-cols-2 sm:px-15 md:grid-cols-3;
}
.project-card {
  @apply relative overflow-hidden rounded-2xl bg-pink-50 shadow-lg transition-transform duration-500 hover:scale-105;
}
.project-Sr-No {
  @apply absolute top-2 rounded-r-full bg-pink-600 px-10 py-4 text-2xl text-white opacity-60;
}
.project-img {
  @apply h-60 w-full shadow-lg;
}
.project-details {
  @apply flex h-14 items-center justify-center overflow-hidden text-base;
}
.project-tec {
  @apply mt-4 flex h-24 flex-wrap items-center justify-center gap-5;
}

/* skills */

.skills-container {
  @apply mx-auto box-content grid max-w-(--breakpoint-xl) gap-8 p-2 lg:grid-cols-12 lg:gap-5 lg:py-5;
}
.tech-stack {
  @apply flex justify-center lg:col-span-5;
}
.stack {
  @apply grid grid-cols-4 gap-6 px-5 sm:grid-cols-4 sm:gap-9 sm:px-0 md:grid-cols-4 lg:grid-cols-4;
}
.icon-div {
  @apply flex h-full transform flex-col items-center justify-center transition duration-300 hover:rotate-x-25 hover:rotate-z-30;
}

/* FAQs */
.accordion-tab {
  @apply text-main-red w-full rounded-2xl border border-pink-500 bg-pink-100 p-5 text-lg;
}
.faq-div {
  @apply flex flex-col items-center p-5;
}
.accordion {
  @apply w-full max-w-5xl space-y-5;
}

/* Pricing */
.plans-div {
  @apply m-0 flex flex-wrap items-center justify-evenly gap-2 sm:m-5;
}
.pricing-card {
  @apply flex h-auto w-sm flex-col items-center justify-evenly space-y-7 rounded-2xl border-2 border-pink-500 bg-white p-8 text-center transition-transform duration-500 hover:scale-105 hover:shadow-lg;
}
.price-tag {
  @apply text-main-red text-lg sm:text-2xl;
}
.best-for {
  @apply text-base;
}
.included-check {
  @apply text-2xl text-green-500;
}
.features {
  @apply [&::-webkit-scrollbar-thumb]:bg-main-red flex h-42 max-h-100 flex-col items-start gap-4 overflow-y-scroll sm:overflow-visible [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-pink-100;
}
.features-li {
  @apply text-blue-dark flex items-center gap-2;
}
.note-div {
  @apply rounded-3xl border-2 border-pink-400 bg-pink-50 p-3 text-red-600;
}
.link {
  @apply text-blue-dark uppercase underline;
}

/* Contact Forms */

.contact-div {
  @apply border-pink-light mx-auto flex w-full flex-col rounded-3xl border bg-white shadow-xl sm:w-[90%] sm:flex-row;
}
.detail-box {
  @apply to-blue-dark text-pink-light from-main-red flex w-full flex-col justify-between gap-15 rounded-3xl bg-linear-to-br p-3 sm:w-[50%] sm:p-8;
}
.detail-heading {
  @apply text-pink-light text-3xl sm:text-4xl;
}
.contact-icon {
  @apply bg-pink-light/30 text-pink-light rounded-full p-1 text-3xl sm:p-2 sm:text-4xl;
}
.contact-detail {
  @apply flex flex-col items-center sm:flex-row;
}
.contact-box {
  @apply flex flex-col justify-evenly gap-4;
}

.label {
  @apply text-lg font-medium text-pink-600;
}
.input-form {
  @apply bg-pink-light w-full rounded-lg border border-pink-300 px-4 py-2 focus:ring-2 focus:ring-pink-500;
}

.error-container {
  @apply flex flex-col items-center space-y-6 py-28 text-center;
}

.error-404 {
  @apply text-main-red text-7xl font-bold md:text-9xl;
}
